/* variables */
:root {
    --color-primary: #e8e8e8;
    --color-light: #f5f5f5;
    --color-black: #0f0f1b;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

/* button */
.btn {
    width: 130px;
    border: 1px solid black;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: transparent;
    position: relative;
    transition: .3s ease;
}

.btn:hover {
    color: #000;
}

.btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #000;
    transition: .3s ease;
}

.btn::before {
    height: 0%;
    width: 2px;
}

.btn::after {
    width: 0%;
    height: 2px;
}

.btn:hover::before {
    height: 100%;
}

.btn:hover::after {
    width: 100%;
}

.btn span::before,
.btn span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
}

.btn span::before {
    width: 2px;
    height: 0%;
}

.btn span::after {
    width: 0%;
    height: 2px;
}

.btn span:hover::before {
    height: 100%;
}

.btn span:hover::after {
    width: 100%;
}

body {
    font: 1rem/1.2 'Poppins', arial, sans-serif;
    background-color: var(--color-light);
    color: var(--color-black);
    overflow-x: hidden;
}

body.active {
    overflow: hidden;
}

/*navigation*/
nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: .2rem .6rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

nav .logo {
    font-family: 'Gooper';
    text-transform: uppercase;
    letter-spacing: 2px;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
}

nav ul {
    font-weight: bolder;
    width: 50%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
    backdrop-filter: grayscale(100px);
}

nav ul li {
      display: flex;
}

.nav-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: .5rem .5rem;
}

.nav-link:before,
.nav-link:after,
.hover-link:before,
.hover-link:after {
    content: "";
    position: absolute;
    transition: transform .2s ease-out;
}

.nav-link:before,
.nav-link:after {
    width: 100%;
    height: 2px;
    left: 0;
}

.nav-link:before {
    top: 0;
    transform: translate3d(-105%, 0, 0);
}

.nav-link:after {
    bottom: 0;
    transform: translate3d(105%, 0, 0);
}

.hover-link:before,
.hover-link:after {
    width: 2px;
    height: 100%;
    top: 0;
}

.hover-link:before {
    left: 0;
    transform: translate3d(0%, -100%, 0);
}

.hover-link:after {
    right: 0;
    transform: translate3d(0%, 100%, 0);
}

.nav-link:hover:before,
.nav-link:focus:before,
.nav-link:hover:after,
.nav-link:focus:after,
.nav-link:hover .hover-link:before,
.nav-link:focus .hover-link:before,
.nav-link:hover .hover-link:after,
.nav-link:focus .hover-link:after {
    transform: translate3d(0, 0, 0);
}

.nav-link:focus {
    outline: none;
    color: var(--color-black);
}

.nav-link:before,
.nav-link:after,
.hover-link:before,
.hover-link:after {
    background-color: var(--color-black);
}

.nav-link.active {
     color: black;
    text-shadow: -1px -1px 6px black;
     transition: 500ms;
}

nav ul.active {
    left: 0;
}

nav.scrolled {
    background-color: var(--color-primary);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.hamburger-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    display: none;
}

.burger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    transition: .3s;
}

.line-first {
    top: 0;
}

.line-second,
.line-third {
    top: 50%;
    transform: translateY(-50%);
}

.line-fourth {
    bottom: 0;
}

.active .line-first,
.active .line-fourth {
    opacity: 0;
}

.active .line-second {
    transform: translateY(-50%) rotate(45deg);
}

.active .line-third {
    transform: translateY(-50%) rotate(-45deg);
}

/* hero */
section.hero {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), #e8e8e8), url('../images/hero/hero.webp');
    backdrop-filter: 100%;
    background-size: cover;
    background-position: center;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.hero h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .3rem;
}

.hero h2 span:nth-child(1) {
    margin-right: 10%;
    font-size: clamp(1.3rem, 5vw, 3rem);
/*   font-size: 7vmin;*/
    font-family: 'Gooper';
    color: #0000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  -webkit-text-stroke: 2px var(--color-black);
  background:
    radial-gradient(1.13em at 50% 1.6em, #f5f5f5 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#0000 99%,#f5f5f5 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;
}

.hero h2 span:nth-child(2) {
    font-family: 'Gooper';
    margin-left: 10%;
/*   font-size: 7vmin;*/
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    font-size: clamp(1.3rem, 5vw, 3rem);
     color: #0000;
  -webkit-text-stroke: 2px var(--color-black);
  background:
    radial-gradient(1.13em at 50% 1.6em,#f5f5f5 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#0000 99%,#f5f5f5 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;

}

@keyframes l9 {
  to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}

.hero p {
    width: 50ch;
    text-align: center;
}

/* about */
section.about {
    height: 100vh;
    background: linear-gradient(to top, rgba(245, 246, 252, 0.6), #e8e8e8);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about h2 {
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about h2 span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}


.content-about {
    width: 900px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.content-picture-about {
    display: flex;
    justify-content: flex-end;

}

.cover-image {
    border: 1px solid black;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(2deg);
    overflow: hidden;

}



.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}

.sidebar-content p {
    width: 60%;
}

.sidebar-content .skill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-content .skill p {
    text-transform: capitalize;
    width: 24%;
}

.sidebar-content .skill img {
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
}

.sidebar-content .skill img:hover {
       transform: scale(1.1);
}

/* project */
section.project {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.5), #f5f5f5);
}

.project h2 {
    width: 900px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
}

.project h2 span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.content-project {
    width: 900px;
    max-width: 90%;
    display: flex;
    gap: 2rem;
}

.portfolio-project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portfolio-project-image {
    flex: 1;
    overflow: hidden;
}

.portfolio-project-image img {
    object-fit: fill;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.portfolio-project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.portfolio-project-info h3 {
    font-weight: 600;
}


.portfolio-project-info .tagline {
    font-weight: normal;
    word-spacing: 2px;
}

.portfolio-project-cta {
    height: auto;
}


/* blog */
section.blog {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-light);
}

.blog h2 {
    width: 900px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -3rem;
}

.blog h2 span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.content-blog {
    width: 900px;
    max-width: 90%;
    display: flex;
    column-gap: .5rem;
}

.card-blog {
    overflow: hidden;
    position: relative;
    padding: .5rem;
    width: 100%;
    color: var(--color-black);
    background-color: var(--color-light);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card-blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card-blog::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.009) 11.7%, rgba(255, 255, 255, 0.034) 22.1%, rgba(255, 255, 255, 0.072) 31.2%, rgba(255, 255, 255, 0.123) 39.4%, rgba(255, 255, 255, 0.182) 46.6%, rgba(255, 255, 255, 0.249) 53.1%, rgba(255, 255, 255, 0.32) 58.9%, rgba(255, 255, 255, 0.394) 64.3%, rgba(255, 255, 255, 0.468) 69.3%, rgba(255, 255, 255, 0.54) 74.1%, rgba(255, 255, 255, 0.607) 78.8%, rgba(255, 255, 255, 0.668) 83.6%, rgba(255, 255, 255, 0.721) 88.7%, rgba(255, 255, 255, 0.762) 94.1%, rgba(255, 255, 255, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card-blog:nth-child(1)::before {
    background-image: url('../images/blog/blog.png');
}

.card-blog:nth-child(2)::before {
    background-image: url('../images/blog/blog.png');
}

.card-blog:nth-child(3)::before {
    background-image: url('../images/blog/blog.png');
}

.card-blog:nth-child(4)::before {
    background-image: url('../images/blog/blog.png');
}

.card-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .2rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.card-info > * + * {
    margin-top: .2rem;
}

.card-info {
    transform: translateY(calc(100% - 4.5rem));
}

.card-info > *:not(.title-blog) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card-info a{
     color: blue;
}

.title-blog {
    font-weight: 600;
}

.pBlog {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-blog:hover:before,
.card-blog:focus-within:before {
    transform: translateY(-4%);
}

.card-blog:hover:after,
.card-blog:focus-within:after {
    transform: translateY(-50%);
}

.card-blog:hover .card-info,
.card-blog:focus-within .card-info {
    transform: translateY(0);
}

.card-blog:hover .card-info>*:not(.title-blog),
.card-blog:focus-within .card-info>*:not(.title-blog) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.card-blog:focus-within:before,
.card-blog:focus-within:after,
.card-blog:focus-within .card-info,
.card-blog:focus-within .card-info>*:not(.title-blog) {
    transition-duration: 0s;
}

/* gallery */
section.gallery {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(to top, rgba(245, 246, 252, 0.5), #f5f5f5);
}

.gallery h2 {
    width: 900px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gallery h2 span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.image-gallery {
    width: 900px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 5px;
}

.image-gallery > .thumbnail {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
     transition: all 0.4s ease-in-out;
    
}

.image-gallery >.thumbnail img {
     max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}
.image-gallery >.thumbnail:hover img {

      transform: scale(1.5); 
    }

.thumbnail img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* contact */
section.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.5), #f5f5f5);
}

section.contact h2 {
    width: 900px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -3rem;
}

.contact h2 span:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.contact-list {
    width: 900px;
    max-width: 90%;
    display: flex;
    gap: 2rem;
}

.contact-form {
    width: 100%;
    flex: 1;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'name name'
        'email email'
        'message message';
}



.form-control:focus,
.form-area:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0.01);
    border-color: var(--color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem hsla(251.84, 29.921%, 50.196%, 0.25);
}

.form-container .form-group:nth-child(1) {
    grid-area: name;
}

.form-container .form-group:nth-child(2) {
    grid-area: email;
}

.form-container .form-group:nth-child(3) {
    grid-area: message;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    /*     line-height: 1.5;*/
    background-color: rgba(0, 0, 0, 0.01);
    background-clip: padding-box;
    border: 1px solid var(--color-black);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
}

.form-area {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.01);
    background-clip: padding-box;
    border: 1px solid var(--color-black);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: none;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
}

.form-group label {
    display: block;
}

.sosial-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sosial-media-link img {
      transition: all 0.2s ease-in-out;
}

.sosial-media-link img:hover {
       transform: scale(1.1);
}

/* footer */
.footer {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}